In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
weather_data = r'C:\Users\JosephBream\OneDrive - Smart Managed Solutions\Documents\Weather Station Data.xlsx'

# Read all sheets into a dictionary of DataFrames
dfs = pd.read_excel(weather_data, sheet_name=None)

# Iterate over each sheet and write it to a CSV file
# for sheet_name, df in dfs.items():
#     csv_filename = f"{sheet_name}.csv"  # Construct the CSV filename
#     df.to_csv(csv_filename, index=False)  # Write DataFrame to CSV without index

#     print(f"Converted '{sheet_name}' to CSV: {csv_filename}")

In [67]:
WS_Data = pd.read_csv('Data.csv')
WS_Stations = pd.read_csv('Stations.csv')

In [68]:
WS_Data.head() # Quick look at the data

    Timestamp  03770H150  03770C150  EGLLH150  EGLLC150  EGLCH150  EGLCC150
0  2010-01-01      375.7        0.0     397.5       0.0     385.6       0.0
1  2010-02-01      292.9        0.0     307.8       0.0     305.8       0.0
2  2010-03-01      228.5        0.1     246.5       0.3     241.7       0.1
3  2010-04-01      134.7       10.0     147.1       9.7     150.8       7.9
4  2010-05-01      104.7       28.6     114.7      31.5     116.5      23.0

In [22]:
WS_Stations.head() #  A look at the stations records

,Station ID,Station Name,Station Longitude,Station Latitude,Station City,% Estimated
0,03770,London St James Park,0.13W,51.50N,London,0.020
1,EGLL,"London, GB",0.45W,51.48N,London,0.002
2,EGLC,London City Airport,NaN,NaN,London,0.030

In [70]:
# Some data cleaning

SyntaxError: invalid syntax (2114073461.py, line 1)